.ButtonGoTo-LogIn {
    position: absolute;
    top: 11rem;
    right: 20rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
    width: 100px;
    height: 29px;
    background-color: #E6E6E6 !important;
    color: var(--color-primary) !important;
    font-size: 1.6rem !important;
    border: none !important;
    margin-top: 2rem !important;
    transition: background-color 0.2s;
}

.ButtonGoTo-LogIn:hover {
    background-color: var(--color-primary) !important;
}

.ButtonGoTo-LogIn a {
    text-decoration: none;
    color: var(--color-primary) !important;
}