:root { 
    font-size: 60%;

    --colo-link-in-lighter: #00c0f0;
    --color-primary-lighter: rgba(0, 154, 192, 0.8);
    --color-primary-light: rgba(0, 136, 169, 0.8);
    --color-primary: #0088a9;
    --color-primary-dark: rgba(0, 136, 169, 1);
    --color-primary-darker: #246870;
    --color-secondary-dark: rgb(15, 177, 15);
    --color-footer-in-primary-dark: #212121;
    --color-title-in-primary-dark: #212529;
    --color-footer-in-primary-light: #495057;
    --color-title-in-primary: #505050;
    --color-background-light: #E1E1E1;
    --color-text-in-primary: #edf0f1;
    --color-line-in-white: #E6E6F0;
    --color-text-title: #003d44;
    --color-background: #F0F0F7;
    --color-input-background: #F8F8FC;
    --color-box-base: #e9ecef;
    --color-box-shadow: rgba(0, 0, 0, 0.2);
    --color-box-shadow-light: rgba(0, 0, 0, 0.1);
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

@media only screen and (max-width: 768px){
    :root {
        font-size: 62.5%;
    }
}